bcrypt==4.2.1
Flask==3.1.1
Flask-PyMongo==2.3.0
Flask-SocketIO==5.4.1
Jinja2==3.1.6
pymongo==4.11.3
python-engineio==4.11.2
python-socketio==5.12.1
requests==2.32.3
html-sanitizer==2.6.0
eventlet==0.37.0
