<!DOCTYPE html>
<html lang="en" >
	<head>
		<meta charset="UTF-8">
		<title>webChat</title>
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
		<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
		<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
	</head>
	<body>
		<div id="frame">
			<div id="topbar">
				<div id="profile" class="userProfile">
					<div class="wrap">
						<img id="profile-img" src="{{ url_for('static', filename='images/placeholder.png') }}" class="online" alt="" />
						<p id="yourUsername">{{ current_user }}</p>
						<p><a href="/logout" style="color:white;">Log out</a></p>
					</div>
				</div>			
			</div>
			<div id="sidebar">
				<div id="search">
					<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
					<input type="text" placeholder="Search contacts..." />
				</div>
				<div id="contacts">					
						<ul>
							<li class="contact active">
								<form id="contact" method="POST" action='#'>
								<div class="wrap">
									<!-- get status from get request -->					
									<span class="contact-status online"></span>
									<!-- get profile picture from get request -->
									<img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="" />
									<div class="meta">
										<!-- get contact name from get request -->
										<p id="userOne" class="name">Contact One</p>
										<!-- get last message in chat from get request -->
										<p class="preview">Last message in chat</p>
										<input type="submit" id="roomSub" value="Join Room">
									</div>
								</div>
								</form>
							</li>
							<li class="contact">
								<div class="wrap">
									<span class="contact-status online"></span>
									<img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="" />
									<div class="meta">
										<p class="name">Contact Two</p>
										<p class="preview">Last message in chat</p>
									</div>
								</div>
							</li>
							
							<!--example
							"contact-status online" -- online
							"contact-status away" -- away
							"contact-status busy" -- busy
							"contact-status" -- offline
							<li class="contact">
								<div class="wrap">
									<span class="contact-status away"></span>
									<img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="" />
									<div class="meta">
										<p class="name">Contact Three</p>
										<p class="preview">Last message in chat</p>
									</div>
								</div>
							</li>
							-->
						</ul>
				</div>
				<div id="bottom-bar">
					<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
					<button id="groupchat"><i class="fa fa-users fa-fw" aria-hidden="true"></i> <span>Create Group Chat</span></button>
					<button id="filtercontact"><i class="fa fa-filter fa-fw" aria-hidden="true"></i> <span>Filter</span></button>
					<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
				</div>
			</div>
			<div class="chatWindow">
				<div class="contact-profile">
					<img src="{{ url_for('static', filename='images/placeholder.png') }}" alt="" />
					<p>Contact One</p>
					<input hidden id="yourUsername" type="text" value="{{ current_user }}" />
				</div>
				<div class="messages">
					<ul>
					<!-- pull from chat db -->
						<li class="sent">
						</li>
						<li class="replies">
						</li>
					</ul>
				</div>
				
				    <form id="sendMessage" method="POST" action='#'>
    
				<div class="message-input">
					<div class="wrap">
					<input id="roomMessage" type="text" placeholder="Write your message..." />
					<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
					<button class="submit"><i class="fa fa-send" aria-hidden="true"></i></button>
					</div>
				</div>
				
				</form>
			</div>
		</div>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
		<script  src="{{ url_for('static', filename='js/index.js') }}"></script>
	</body>
</html>
